.App {
  text-align: left;
}


.App-logo {
  
  height: 40vmin;
  pointer-events: none;
  align-items: left;
  width: 40vmin;
}

.Title {
  align-items: center;

}
.login {
  text-align: right;
}

.App-submit {
text-align: unset;
}

.App-header {
  background-color: #888b8a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
